.alert{
  max-width: 50%;
  margin: auto;
  margin-top: 15%;
  background: transparent;
  color: inherit;
  border: 1px solid black;
  background:transparent;
  box-shadow: 0px 0px 100px 5px #000;
  -webkit-box-shadow: 0px 0px 50px 5px #000;
}
.alert Button {
  margin-left: 70%;
}
  .card-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    margin-left: 10%;
  }
  .comment-container {
    position: relative;
    margin-left: 23%;
    width: 110%;
  }

  
  .card {
    padding: 30px;
    position: relative;
    z-index: 1;
  }
  
  .card-body {
    width: 100%;
  }
  
  .card-number {
    margin-top: 15px;
    font-size: 20px;
  }
  
  .card-circle {
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
  }
  
  .card-author {
    display: block;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
  }
  
  .card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
  }
  
  .card-media {
    float: right;
  }
  .right{
    float: right;
    background: transparent;
    padding: 3%;
    color: inherit;
  }
  .commentAdd{
    background: transparent;
    padding: 1% 2%;
    margin-left: 35%;
    color: inherit;
  }
  .backBtn{
    width: 20%;
    margin: 5%;
    padding: 0%;
    color: inherit;
  }

  .deleteBtn {
    background: transparent;
    width: 30%;
    margin-left: 70%;
    color: inherit;

  }
  .delBtn {
    background: transparent;
    width: 20%;
    color: inherit;

    margin-left: 50%;
    margin-top: 5%;
  }
  .alertSpan {
    background: transparent;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
    display: inline-block;
    -webkit-transition: 250ms;
  transition: 250ms;
  border-style: ridge;
  border-width: 0.5px;
  border-color: black;
  

  }
  .alertSpan:hover {
    background: #0d6e6d;
    -webkit-transition: 250ms;
    transition: 250ms;
    cursor: pointer;
  }
