
  .card-container {
    margin: 25px 0 0;
    position: relative;
    width: 100%;
  }
  .comment-container {
    margin: 25px 0 0;
    position: relative;
    width: 80%;
  }
  
  .card {
    padding: 30px;
    position: relative;
    z-index: 1;
  }
  
  .card-body {
    width: 450px;
  }
  
  .card-number {
    margin-top: 15px;
  }
  
  .card-circle {
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
  }
  
  .card-author {
    display: block;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
  }
  
  .card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
  }
  
  .card-media {
    float: right;
  }
  .right{
    float: right;
    background: transparent;
    padding: 3%;
    color: wheat;
  }
  .backBtn{
    width: 20%;
    margin: 5%;
    padding: 0%;
  }
  
